src/main/mule/first-depl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d96e80da-5dec-4925-ab2b-b379e0f37b1f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="first-deplFlow" doc:id="fa026a05-bd22-4222-91ac-f8a47743895f" >
		<http:listener doc:name="Listener" doc:id="ebc1574d-a319-425f-82b7-28f7f244be0c" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="316ebac2-52d5-4642-bf31-832c69711f16" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="50187723-0456-4baf-861e-7cf01df3f9a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="158cebb4-cdc4-4964-94e5-613fc5fc0443" message="#[payload]"/>
	</flow>
</mule>
